@import "../sass/functions";
@import "../sass/variables";

.editorContainer {
    grid-column: span 6;
    height: 120px;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    background-color: $lightColor;
    border-radius: 10px;
    padding: 1rem 1rem 0;
    margin: 0 1rem;
}

.darkEditor {
    background-color: $darkColor;
}

.darkEditor * {
    color: $lightColor;
}

.toolsIcon,
.settingIcon {
    @include flexStyle;
    justify-content: space-around;
    margin-bottom: 20px;
    display: none;
    .line {
        background-color: $silver;
        border: 1px solid $silver;
        display: inline-block;
        height: 1px;
        width: 90%;
    }
}

.settingIcon {
    font-size: 22px;
}

.resetButton {
    @include flexStyle;
    margin: 30px 0;
    scroll-snap-align: center;

    button {
        @include btnStyle;
        background-color: rgb(59, 150, 145);
        color: #fff;
        padding: 10px 20px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        width: 200px;
        font-size: 1rem;
    }
}

.settingContainer {
    @include flexStyle;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.radiusContainer,
.toolsContainer {
    @include flexStyle;
    scroll-snap-align: center;
    margin: 50px 20px;
}

.radiusContainer {
    flex-direction: column;
}

.rangeForm {
    text-align: center;

    .rangeContent {
        @include flexStyle;
        justify-content: space-between;

        label {
            font-weight: bold;
            font-size: 0.9rem;
            letter-spacing: 0.5px;
        }

        button {
            @include btnStyle;
            font-size: 1.2rem;
        }
    }

    span {
        font-size: 0.8rem;
    }

    .range {
        display: block;
        -webkit-appearance: none;
        background-color: $silver;
        opacity: 0.7;
        width: 220px;
        margin: 10px 0;
        outline: none;
        border-radius: 5px;
        height: 5px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 5px;
            height: 18px;
            border-radius: 3px;
            background-color: rgb(59, 150, 145);
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 5px;
            height: 18px;
            border-radius: 3px;
            background-color: #fff;
            cursor: pointer;
        }
    }
}

.flipButtons {
    text-align: center;
    button {
        @include btnStyle;
        font-size: 1.7rem;
        margin: 5px 5px 0;
    }
}

.setingIcon {
    font-size: 1.3rem;
}

@media (min-width: 720px) {
    .editorContainer {
        grid-column: span 1;
        margin: 0 2rem 0 0;
        height: 85vh;
    }

    .radiusContainer {
        margin: 0;
    }

    .toolsContainer {
        margin: 40px;
    }

    .toolsIcon,
    .settingIcon {
        display: flex;
    }

    .resetButton {
        margin-top: 0;

        button {
            padding: 6px 20px;
            width: 100px;
            font-size: 0.8rem;
        }
    }

    .settingContainer {
        display: block;
    }

    .rangeContent {
        label {
            font-size: 0.8rem !important;
        }

        button {
            font-size: 1rem !important;
        }
    }

    .range {
        width: 120px !important;
    }

    .flipButtons {
        margin: 20px 5px;
    }

    .range {
        width: 150px;

        &::-webkit-slider-thumb {
            width: 8px;
            height: 20px;
        }

        &::-moz-range-thumb {
            width: 8px;
            height: 20px;
        }
    }
}
